
form {
    width: 100%;
  
    float: right;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}



.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.logo {
    width: 13em;
}


.mainView {
    display: flex;
    flex-wrap: wrap;
  
}

.sideBar {
    display: flex 1;
    flex: 30%;
 
}

.mainContent {
    display: flex 2;
    flex: 70%;
    float: left;
  
}