

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}



.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

 /* Header and Side Nav Bar */

.logo {
    width: 13em;
}


.mainView {
    display: flex;
    flex-wrap: wrap;
}

.sideBar {
    display: flex 1;
    flex: 30%;
}

 /* Main Border */

.mainContent {
    display: flex 2;
    flex: 60%;
    float: left;
    border: solid #ed3093 1px;
    height: 500px;
    margin-right: 130px;
}
.container {
    position: relative;
    width: 50%;
}

 /* About Page */

.aboutContainer {
    position: relative;
    width: 50%;
  }
  
  .aboutImage {
    display: block;
    width: 1000px;
    height:500px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #40d797;
  }
  
  .aboutContainer:hover .overlay {
    opacity: 1;
  }
  
  .aboutText {
    color: black;
    font-size: 21px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
  }

   /* Contact Page */

   .contactContainer {
    margin-left: 280px;
    margin-top: 100px;
    width: 500px;
   }
   .contactLogo{
    width: 130px;
    margin-left: 150px;
   }


