

input {
    margin: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    margin: 10px;
}



.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

 /* Header and Side Nav Bar */

.logo {
    width: 13em;
}


.mainView {
    display: flex;
    flex-wrap: wrap;
}

.sideBar {
    display: flex 1;
    flex: 30%;
}

 /* Main Border */

.mainContent {
    display: flex 2;
    flex: 60%;
    float: left;
    border: solid #ed3093 2px;
    height: 500px;
    margin-right: 130px;
}
.container {
    position: relative;
    width: 50%;
}
 /* Login Page */
.loginBox {
    position: absolute;
    top: 350px;
    right: 250px;
    width: 250px;
    background-color: #40d797 ;
    padding: 40px;
    margin-bottom: 200px;
    border-radius: 25px;
}

.loginContainer {
    display: flex;
    position: relative;
 
}

.mainImage {
    display: block;
    width: 1000px;
    height:500px;
}
 /* About Page */

.aboutContainer {
    position: relative;
    width: 50%;
  }
  
  .aboutImage {
    display: block;
    width: 1000px;
    height:500px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #40d797;
  }
  
  .aboutContainer:hover .overlay {
    opacity: 1;
  }
  
  .aboutText {
    color: black;
    font-size: 21px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
    -ms-transform: translate(-40%, -40%);
  }

   /* Contact Page */

   .contactContainer {
    margin-left: 280px;
    margin-top: 100px;
    width: 500px;
   }
   .contactLogo{
    width: 130px;
    margin-left: 150px;
   }


/* User Welcome Page */

.userWelcome {
    position: absolute;
    top: 350px;
    right: 250px;
    width: 250px;
    background-color: #40d797 ;
    padding: 40px;
    margin-bottom: 200px;
    border-radius: 25px;
}

 /* Register Page */

.formMain {
    padding-left: 150px;
    padding-top: 25px;
}

 .form {
    width: 350px; 
    float: left; 
 }

 .formRight {
    width: 350px; 
    float: left;
  
 }

 .registerButton {
    background-color:#40d797; 
    border-radius: 10px;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }

 .registerH1 {
     color: #ed3093;
     text-align: left;
     padding-left: 150px;
     padding-top: 25px;
 }

 /* Categories Results */

 .categoriesResults {
    background-color: rgba(46, 197, 255, 0.2);
    width: 600px;
    border-radius: 10px;
    padding: 5px;
    margin-left: 100px;
 }